{%extends 'all-gallery/base.html'%}

{% block content %}
{{block.super}}
<div class="container">

    <!-- Looping through gallery   -->
    {% for gallery_item in gallery %}
  
    <div class="row">
      <!-- displaying Gallery image -->
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h2 class="text-center"> {{ gallery_item.title }} </h2>
      </div>
  
    </div>
  
    {% empty %}
    <div class="row">
      <h2 class="text-center">There No Gallery Items</h2>
    </div>
    {% endfor %}
  
  </div>
{% endblock %}