{% extends 'base.html' %}
{% block content %}
{{block.super}}
<div class="container" style="background:teal;font-size: 20px">
  <div class="jumbotron" style="background:cadetblue">
  <h1 style="color:burlywood;font-size: 30px" class="text-center">Photo Gallery</h1>
  </div>
  <div class="row">
    {% for picture in all_pictures %}
    <div class="col-md-4">
      <strong>{{picture.name}}</strong>
        <img style=" margin-top: 20px; margin-bottom: 20px; width:350px; height:300px;" src="{{picture.image.url}}" class="img-thumbnail" alt="Picure" data-toggle="modal" data-target="#{{picture.id}}">

      <!-- Image Details modal -->

      <div class="modal fade" id="{{picture.id}}" tabindex="-1" role="dialog" aria-labelledby="imageTitle" aria-hidden="true">
        <div  style="max-width:100%; max-height:100%; padding-top:100px;" class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h5 class="modal-title" id="imageTitle"><strong>{{picture.name}}</strong></h5>
              </button>
            </div>
            <div class="modal-body">
              <img src="{{picture.image.url}}" style="width:570px; height:500px;" alt="Image">
              <br>
              <strong>Location: {{picture.location}}</strong>
              <br>
              <strong>Category: {{picture.category}}</strong>
              <br>
              <strong>Description: {{picture.description}}</strong>

            </div>
            <div class="modal-footer">
              <input class="form-control input-lg" type="text"  value="http://127.0.0.1:8000{{picture.image.url}}" id="{{picture.id}}-url" >
              <button class="btn btn-outline-succes" onclick="copyUrl('{{picture.id}}-url')">Copy Image Url</button>
            </div>
          </div>        </div>
      </div>

    </div>
    <script type="text/javascript">
      function copyUrl(element){
        var myVar = document.getElementById(element);
        myVar.select();
        document.execCommand('copy');
        alert("Copied the link of image: " + myVar.value);  
      }
    </script>
    
    {% empty %}
        <h3 class="text-center">There are No Images</h3>
    {% endfor %}
  </div>
</div>
{% endblock %}
