{% extends 'base.html' %}
{% block content %}
{{block.super}}
<div class="container" style="background: bisque;font-size: 16px">
  <h1 class="text-center">Images of {{location.name}}</h1>
  <div class="row">
    {% for picture in pictures %}
    <div class="col-md-4">
            <strong> {{picture.name}}</strong>
            
        <img style=" margin-top: 20px; margin-bottom: 20px; width:350px; height:300px;" src="{{picture.image.url}}" class="img-thumbnail" alt="Image" data-toggle="modal" data-target="#{{picture.id}}">
        Description: {{picture.description}}
              <br>
              Location: {{picture.location}}

      <!-- Image Details modal -->

      <div class="modal fade" id="{{picture.id}}" tabindex="-1" role="dialog" aria-labelledby="imageTitle" aria-hidden="true">
        <div  style="max-width:100%; max-height:100%; padding-top:100px;" class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h5 class="modal-title" id="imageTitle">{{picture.location}}</h5>
              Description: {{picture.description}}
              <br>
              Location: {{picture.location}}
              </button>
            </div>
            <div class="modal-body">
              <img src="{{picture.image.url}}" style="width:570px; height:500px;" alt="Image">
             
            </div>
              <div class="modal-footer">
                <input class="form-control input-lg" type="text"  value="{{picture.image.url}}" id="{{image.id}}-url" >
                <button class="btn btn-outline-info" onclick="copyUrl('{{picture.id}}-url')">Copy Image Url</button>
              </div>
            </div>
          </div>
        </div>
      </div>
     
    {% empty %}
    <h3 class="text-center">No images available for {{location.name}}</h3>
    {% endfor %}
  </div>
</div>
{% endblock %}